<h1>Quizard!</h1>

<h2>Welcome to Quizard the fun Trivia Game</h2>

<h3>Sports Trivia</h3>

<ul>
    {{#each sports}}
   
  <div class="col-sm-2">
    <strong>{{name}}</strong>
    <br>
    {{question}}
    <br>
    {{answer}}
  </div>
{{/each}}

</ul>


<h3>History Trivia</h3>
  <ul>
      {{#history history}}
    <div class="col-sm-2">
      <strong>{{name}}</strong>
      <br>
      {{question}}
      <br>
      {{answer}}
    </div>
      {{/history}}
  </ul>

<h3>Cars Trivia</h3>
  <ul>
      {{#cars cars}}
    <div class="col-sm-2">
      <strong>{{name}}</strong>
      <br>
      {{question}}
      <br>
      {{answer}}
    </div>
      {{/cars}}
  </ul>

<h3>Geography Trivia</h3>
  <ul>
      {{#geography geography}}
    <div class="col-sm-2">
      <strong>{{name}}</strong>
      <br>
      {{question}}
      <br>
      {{answer}}
  </div>
      {{/geography}}
  </ul>

<h3>Random!</h3>
  <ul>
      {{#random random}}
    <div class="col-sm-2">
      <strong>{{name}}</strong>
      <br>
      {{question}}
      <br>
      {{answer}}
    </div>
      {{/random}}
  </ul>
