<li>
    {{categories}}

    <button class="sports" data-id="{{id}}" data-new-sports="{{sports}}">

        <!-- THIS IS WHERE THE IF STATEMENT FOR CLICK TURNS TO API CALL FOR SPORTS CATEGORY -->
        <!-- {{#if sports}} function() << follows -->

    </button>

    <button class="history" data-id="{{id}}" data-new-history="{{history}}">

        <!-- THIS IS WHERE THE IF STATEMENT FOR CLICK TURNS TO API CALL FOR HISTORY CATEGORY -->
        
    </button>

    <button class="cars" data-id="{{id}}" data-new-cars="{{cars}}">

        <!-- THIS IS WHERE THE IF STATEMENT FOR CLICK TURNS TO API CALL FOR CARS CATEGORY -->
        
    </button>

    <button class="geography" data-id="{{id}}" data-new-geography="{{geography}}">

        <!-- THIS IS WHERE THE IF STATEMENT FOR CLICK TURNS TO API CALL FOR GEOGRAPHY CATEGORY -->
        
    </button>

     </button>

    <button class="random" data-id="{{id}}" data-new-random="{{random}}">

        <!-- THIS IS WHERE THE IF STATEMENT FOR CLICK TURNS TO API CALL FOR RANDPM CATEGORY -->
        
    </button>   

</li>